<p id="notice"><%= notice %></p>

<h1>Report Submission</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Type</th>
	  <th>Description</th>
	  <th>DateAndTime</th>
	  <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.address %></td><p></p>
		<td><%= location.typec %></td><p></p>
		<td><%= location.description %></td><p></p>
		<td><%= location.datetime %></td><p></p>
        <td><%= location.latitude %></td><p></p>
        <td><%= location.longitude %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form', new_location_path %>
