<div class="main">
<h2><b>Report Submissions</b></h2><br/>


<div class="input-group">
<%= form_tag(locations_path, method: :get) do %>
    <div class="form-outline input-group">
    <%= text_field_tag(:search, params[:search], placeholder: "Search by city name", class: "form-control") %>
  <%= submit_tag ("Search"), class: "btn btn-outline-success my-2 my-sm-0" %>
  <% end %>
</div></div>
</br>

<% @locations.each do|location| %>
  <div class="card mb-3">
    <% if location.image.attached? %>
      <img class="card-img-top" src="<%= url_for(location.image) %>" alt="Card image cap" style="height:200px;">      <div class="card-body">
        <h5 class="card-title"><%= location.typec %></h5>
        <h6 class="card-text"><%= location.address %></h6><br/>
        <p class="card-text"><%= location.description%></p>
        <p class="card-text"><small class="text-muted"><%= location.datetime %></small>    <%= location.city %></p>
        <%= link_to 'View', location_path(location), class:"btn btn-outline-info" %>
        <%= link_to 'Edit', edit_location_path(location), class:"btn btn-outline-primary" %>
       <%= link_to 'Delete', location_path(location), class:"btn btn-outline-danger", method: :delete, data:{confirm: "Are you sure?"} %>
      </div>
    <% else %>
      <div class="card-body">
        <h5 class="card-title"><%= location.typec %></h5>
        <h6 class="card-text"><%= location.address %></h6><br/>
        <p class="card-text"><%= location.description%></p>
        <p class="card-text"><small class="text-muted"><%= location.datetime %></small>    <%= location.city %></p>
        <%= link_to 'View', location_path(location), class:"btn btn-outline-info" %>
        <%= link_to 'Edit', edit_location_path(location), class:"btn btn-outline-primary" %>
        <%= link_to 'Delete', location_path(location), class:"btn btn-outline-danger", method: :delete, data:{confirm: "Are you sure?"} %>
    <% end %>
    </div>
  </div>
<% end %>
<%= link_to 'New Form', new_location_path, class:"btn btn-secondary" %>

</div>